h1{
    color: red;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    text-shadow: rgb(154, 154, 154);
}